<!DOCTYPE html>
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/statics/assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}
    <style>
      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }

      input[type="number"] {
          -moz-appearance: textfield;  
      }
  </style>
    {% endblock stylesheets %}
    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/statics/assets/img/favicon/favicon.ico" />
    <link
      href="/statics/assets/css/css2.css"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/statics/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/statics/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/statics/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/statics/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/statics/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="/statics/assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="/statics/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/statics/assets/js/config.js"></script>
    
  </head>

  <body>

    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="" class="app-brand-link">
              <span class="app-brand-logo demo">
                <svg
                  width="25"
                  viewBox="0 0 25 42"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >                  
                </svg>
              </span>
              <span class="app-brand-text demo  fw-bolder ms-2">Khansoft</span>
              
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>
<ul class="menu-inner py-1">
  <!-- Dashboard -->
  <li class="menu-item">
    <a href="{%url 'dash'%}" class="menu-link" id="dash-link">
      <i class="menu-icon tf-icons bx bx-home-circle"></i>
      <div data-i18n="Analytics">Dashboard</div>
    </a>
  </li>
  {% comment %} {% if user.role == 'admin' %}
  <li class="menu-item">
      <a href="{% url 'register' %}" class="menu-link" id="dash-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">Add User</div>
      </a>
  </li>
  <li class="menu-item">
    <a href="{% url 'user_list' %}" class="menu-link" id="dash-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">View Users</div>
    </a>
</li>
  {% endif %}  {% endcomment %}
  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link menu-toggle" id="school-link">
      <i class="menu-icon tf-icons bx bx-layout"></i>
      <div data-i18n="Layouts">Attendance</div>
    </a>
    <ul class="menu-sub">
      
     
      <li class="menu-item">
        <a href="{% url 'attendance_list'%}" class="menu-link" id="add-class-link">
          <div>List</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="{% url 'record_attendance'%}" class="menu-link" id="add-class-link">
          <div> Record</div>
        </a>
      </li>
    </ul>

  </li>
  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link menu-toggle" id="student-link">
      <i class="menu-icon tf-icons bx bx-dock-top"></i>
      <div data-i18n="Account Settings">Department</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item">
        <a href="{% url 'department_list'%}" class="menu-link" id="add-student-link">
          <div data-i18n="Notifications">List</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="{% url 'add_department'%}" class="menu-link" id="add-student-link">
          <div data-i18n="Notifications">Add</div>
        </a>
      </li>
      
     
    </ul>
    
  </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle" id="school-link">
        <i class="menu-icon tf-icons bx bx-layout"></i>
        <div data-i18n="Layouts">Employees</div>
      </a>
      <ul class="menu-sub">
        
       
        <li class="menu-item">
          <a href="{% url 'employee_list'%}" class="menu-link" id="add-class-link">
            <div>List</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'add_employee'%}" class="menu-link" id="add-class-link">
            <div>Add</div>
          </a>
        </li>
      </ul>
    </li> 
  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link menu-toggle" id="student-link">
      <i class="menu-icon tf-icons bx bx-dock-top"></i>
      <div data-i18n="Account Settings">Payroll</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item">
        <a href="{% url 'payroll_list'%}" class="menu-link" id="add-student-link">
          <div data-i18n="Notifications">List</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="{% url 'create_payroll'%}" class="menu-link" id="add-student-link">
          <div data-i18n="Notifications">Generate</div>
        </a>
      </li>
    </ul>
  </li>

  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link menu-toggle" id="student-link">
      <i class="menu-icon tf-icons bx bx-dock-top"></i>
      <div data-i18n="Account Settings">Projects</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item">
        <a href="{% url 'project_list'%}" class="menu-link" id="add-student-link">
          <div data-i18n="Notifications">List</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="{% url 'add_project'%}" class="menu-link" id="add-student-link">
          <div data-i18n="Notifications">Add</div>
        </a>
      </li>
    </ul>
  </li>

  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link menu-toggle" id="student-link">
      <i class="menu-icon tf-icons bx bx-dock-top"></i>
      <div data-i18n="Account Settings">Tasks</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item">
        <a href="{% url 'task_list'%}" class="menu-link" id="add-student-link">
          <div data-i18n="Notifications">List</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="{% url 'add_task'%}" class="menu-link" id="add-student-link">
          <div data-i18n="Notifications">Add</div>
        </a>
      </li>
    </ul>
  </li>

  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link menu-toggle" id="student-link">
      <i class="menu-icon tf-icons bx bx-dock-top"></i>
      <div data-i18n="Account Settings">Todo</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item">
        <a href="{% url 'todo_list'%}" class="menu-link" id="add-student-link">
          <div data-i18n="Notifications">List</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="{% url 'add_todo'%}" class="menu-link" id="add-student-link">
          <div data-i18n="Notifications">Add</div>
        </a>
      </li>
    </ul>
  </li>
  </li> 
 
  
  <!-- Layouts -->
  {% comment %} 
  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link menu-toggle" id="school-link">
      <i class="menu-icon tf-icons bx bx-layout"></i>
      <div data-i18n="Layouts">Masters</div>
    </a>
    <ul class="menu-sub">
      
      <li class="menu-item">
        <a href="{% url 'model_create'%}" class="menu-link" id="add-class-link">
          <div>Models</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="{% url 'model_list'%}" class="menu-link" id="add-class-link">
          <div> View Models</div>
        </a>
      </li>
     
      <li class="menu-item">
        <a href="{% url 'body_create'%}" class="menu-link" id="select-school-link">
          <div data-i18n="Without navbar">Body</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="{% url 'body_list'%}" class="menu-link" id="select-school-link">
          <div data-i18n="Without navbar">View Bodies</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="{% url 'part_create'%}" class="menu-link" id="select-school-link">
          <div data-i18n="Without navbar">Part</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="{% url 'part_list'%}" class="menu-link" id="select-school-link">
          <div data-i18n="Without navbar">View Parts</div>
        </a>
      </li>
     
    </ul>
  </li>
  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link menu-toggle" id="student-link">
      <i class="menu-icon tf-icons bx bx-dock-top"></i>
      <div data-i18n="Account Settings">Batches</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item">
        <a href="{% url 'batch_form'%}" class="menu-link" id="add-student-link">
          <div data-i18n="Notifications">Add Batches</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="{% url 'batchhead_list'%}" class="menu-link" id="add-student-link">
          <div data-i18n="Notifications">View Batches</div>
        </a>
      </li>
      
     
    </ul>
    <li class="menu-item">
      <a href="{% url 'import_excel'%}" class="menu-link" id="dash-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Import Excel</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="{% url 'extractFile' %}" class="menu-link" id="dash-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Extract Excel</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle" id="school-link">
        <i class="menu-icon tf-icons bx bx-layout"></i>
        <div data-i18n="Layouts">Forms</div>
      </a>
      <ul class="menu-sub">
        
       
        <li class="menu-item">
          <a href="{% url 'upload_excel_form'%}" class="menu-link" id="add-class-link">
            <div>upload Excelsheet</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'uploaded_excel_list'%}" class="menu-link" id="add-class-link">
            <div>View Excelsheets</div>
          </a>
        </li>
       
      </ul>
    </li>
  </li> 
  {% endcomment %}

  </ul>


        </aside>
        <script>
          document.addEventListener("DOMContentLoaded", function() {
    var currentUrl = window.location.pathname; // Get current URL path
    var menuItems = document.querySelectorAll('.menu-item'); // Select all menu items

    menuItems.forEach(function(item) {
        var menuItemLink = item.querySelector('.menu-link'); // Get menu item link
        var href = menuItemLink.getAttribute('href'); // Get link href attribute

        // Check if the current URL matches the menu item link
        if (href === currentUrl) {
            item.classList.add('active'); // Add 'active' class to the menu item
        } else {
            item.classList.remove('active'); // Remove 'active' class if not matching
        }
    });
});

        </script>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm">Menu</i>
              </a>
              
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                  <i class="bx bx-search fs-4 lh-0"></i>
                  <input
                    type="text"
                    class="form-control border-0 shadow-none"
                    placeholder="Search..."
                    aria-label="Search..."
                  />
                </div>
              </div>
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">
               
                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="/statics/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img src="/statics/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block"> {{ user.username }}</span>
                                <small class="text-muted">{{ user.get_role_display }}</small>
                          </div>
                        </div>
                      </a>
                    
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                    <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
                        {% csrf_token %}
                      </form>   

                      <a class="dropdown-item" href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log Out</span>
                      </a>
                    </li>
                    
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            
            {%block content%}

            {%endblock content%}
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , made by
                  <a href="" target="_blank" class="footer-link fw-bolder"></a>
                </div>
                
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

       <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
     
    <script src="/statics/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/statics/assets/vendor/libs/popper/popper.js"></script>
    <script src="/statics/assets/vendor/js/bootstrap.js"></script>
    <script src="/statics/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="/statics/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="/statics/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="/statics/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="/statics/assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    {% block javascripts %}
    
    {% endblock javascripts %}  
  </body>
</html>
